@model IEnumerable<SMSAPP.Data.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseCredits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCredits)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> 
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.CourseId">Details</a> 
                <a class="btn btn-danger delete-btn" asp-action="Delete" asp-route-id="@item.CourseId">Delete old</a>
                    <button data-id="@item.CourseId" type="button" class="btn btn-danger delete-btn">Delete</button>
            </td>
        </tr>
       }
    </tbody>
</table>

<form asp-action="Delete" id="courseDeleteForm">
    <input type="hidden" id="courseid" name="CourseId" />
</form>

@section Scripts{
    <script>
        $(function(){
            $('.delete-btn').click(function(e){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        );
                        var btn = $(this);
                        var id = btn.data("CourseId");
                        $('#courseid').val(id);
                        $('#courseDeleteForm').submit();
                    }
                })
            })
        })
    </script>
}